body{
background-color: #ECFFFB;
}

h1{
color: #344CB7;
}
h2{
color: #344CB7;
}
h3{
color: #344CB7;
}
h4{
color: #344CB7;
}
h5{
color: #344CB7;
}
hr{

/* background-color:white; */
  border-style: none;
  border-top-style: dotted;
  border-color: #1C658C;
  border-width: 3px;
  width: 100%
}
